.u-center-text {
    text-align: center !important;
}

.u-mb-lg {
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem;
    }
}

.u-mb-md {
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem;
    }
}


.u-mb-sm {
    margin-bottom: 1.5rem !important;
}

.u-mt-sm {
    margin-top: 1.5rem !important;
}

.u-mt-md {
    margin-top: 4rem !important;
}


.u-mt-lg {
    margin-top: 8rem !important;
}

.u-mt-xl {
    margin-top: 10rem !important;
}